.item-input {
  width: 1000px;
  max-width: 100%;
  height: 60px;
  border: 0;
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
  outline: 0;
  padding: 0 1rem;
  font-size: 16px;
}
