#pageHeader {
  background-color: #2eafb0;
  height: 60px;
  color: #fff;
  line-height: 60px;
  padding: 0 2rem;
  font-size: 30px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
